<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019938573658-uk66m30sgnoocv4bcuvflevnr2qvok5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019938573658-uk66m30sgnoocv4bcuvflevnr2qvok5n</string>
	<key>API_KEY</key>
	<string>AIzaSyC8qCGGWHg-nfQ1rvNQSyqbZ6g7LKFtt_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1019938573658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rapidhose.iosdevelopment</string>
	<key>PROJECT_ID</key>
	<string>rapidhosedevelopment-2646b</string>
	<key>STORAGE_BUCKET</key>
	<string>rapidhosedevelopment-2646b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019938573658:ios:7afe3f4f2579d06d40f763</string>
</dict>
</plist>